<div class="jumbotron jumbotron-fluid bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2015/12/08/00/26/food-1081707__480.jpg" class="rounded-circle img-fluid" alt="polloshermanos">
            </div>
            <div class="col-md-8">
                <h1 class="jumbo1heading">Out Culture and Values</h1>
                <p class="lead">We know how important it is to feed your family right, and we hold those values near and dear to our heart. Every meal we feed you will be flavorful, warm, fresh, and filled with love. That is our promise to you.</p>
            </div>
        </div>
    </div>
</div>
 