<!-- <div class="jumbotron1">
  <div class="containe">
    <img src="http://www.lphishiring.com/assets/lph-logos.png" class=imgpollos style="w-50 h-50" alt="">
  </div>
</div> -->

<header class="masthead">
    <div class="container h-100 mobilpollos">
        <div class="row h-100">
                    <!-- mx-auto centered the img, height/width changed in css. -->
            <img src="http://www.lphishiring.com/assets/lph-logos.png" class="pollos img-fluid max-width: 100%;  mx-auto pt-5" alt="">
        </div> 
    </div>
</header>