h1{
    font-family: 'Pacifico', cursive;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Permanent Marker', cursive;
    color: #fcba03;
}

.jumbotron1 {
  background-image: url(https://cdn.pixabay.com/photo/2016/05/31/01/13/landscapes-1426130__340.jpg);
  background-size: cover;
  min-height: 500px;
}

    @media only screen and (max-width: 600px) {
  .jumbotron1{
      background-image: url();
  }
}

.pollos{
    width: 400px;
    padding-top: 8%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

.imgfluid {
  border-radius: 50%;
  width: 200px; height:200px; background-position-x: 10px;
}

body, html {
  height: 100%;
}
