h1{
    font-family: 'Pacifico', cursive;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Permanent Marker', cursive;
    color: #fcba03;
}

.masthead{
    min-height: 500px;
    background-image: url(https://cdn.pixabay.com/photo/2016/05/31/01/13/landscapes-1426130__340.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    @media only screen and (max-width: 600px) {
  .masthead{
      background-image: url();
  }
}

.pollos{
    height: 400px;
    width: 550px;
}
/* .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 } */

 
 .imgfluid {
  border-radius: 50%;
  width: 200px; height:200px; background-position-x: 10px;
}
.carousel-inner{
    max-height: 800px;
    min-height: 400px;
}
